<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Struts Blank</display-name>
  <filter>
    <filter-name>login</filter-name>
    <filter-class>org.simoes.servlet.LoginServlet</filter-class>
  </filter>
  <filter>
    <filter-name>logout</filter-name>
    <filter-class>org.simoes.servlet.LogoutServlet</filter-class>
  </filter>
  <filter>
    <filter-name>callback</filter-name>
    <filter-class>org.simoes.servlet.CallbackServlet</filter-class>
  </filter>
  <filter>
    <filter-name>post</filter-name>
    <filter-class>org.simoes.servlet.PostServlet</filter-class>
  </filter>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>login</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>logout</filter-name>
    <url-pattern>/logout</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>callback</filter-name>
    <url-pattern>/callback</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>post</filter-name>
    <url-pattern>/post</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.apache.struts2.dispatcher.ng.listener.StrutsListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>web-app-init</servlet-name>
    <servlet-class>org.simoes.util.WebAppInit</servlet-class>
    <init-param>
      <param-name>init-file</param-name>
      <param-value>default.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>